.cardPokemon {
    width: 8rem;
    height: 10rem;
    padding: 5px;
    user-select: none;
    cursor: pointer;

    position: relative;
    overflow: hidden;

    border: 2px solid #c2c2c2;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardPokemon:active {
    animation-name: flipCard;
    -webkit-animation-name: flipCard;
    -moz-animation-name: flipCard;
    animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes flipCard {
    0%      { width: 8rem; }
    15%     { width: 6.5rem; }
    30%     { width: 4rem; }
    45%     { width: 2.5rem;}
    50%     { width: 0px; }
    60%     { width: 2.5rem; }
    75%     { width: 4rem; }
    90%     { width: 6.5rem; }
    100%     { width: 8rem; }
}

.imgPokemon {
    width: 6rem;
    height: 6rem;
}

.imgPokemonBG {
    z-index: -1;
    width: 3rem;
    height: 3rem;
}

.namePokemon {
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-size: 1.1rem;
}